*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .about-us{
    height: 100vh;
    background-size: cover;
    background-position: right;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)) ,url(./health-still-life-with-copy-space_23-2148854034.webp);
  }
  .pic{
    height: auto;
    width:  302px;
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin-left:300px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  .text{
    width: 540px;
  }
  .text h2{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom:100px;
  
  }
  .text h5{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  span{
    color: #4070f4;
  }
  .text p{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
    
  }
  .data{
    margin-top: 30px;
    margin-left: 200px;
  }
  
  .ti{
    color: #4070f4;
  }